@font-face {
    font-family: 'icomoon';
    src: url("../fonts/icomoon.eot");
    src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf?gzi1y5") format("truetype"), url("../fonts/icomoon.woff?gzi1y5") format("woff"), url("../fonts/icomoon.svg?gzi1y5#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon', serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-et-logo:before {
    content: "\e900";
}

.center {
    max-width: 50em;
    margin: 0 auto;
}

.hidden {
    display: none;
}

header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

header a {
    color: #555555;
    text-decoration: none;
}

header .header-logo {
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

header .header-logo a {
    display: flex;
    align-items: center;
}

header .header-logo i {
    color: #9C0008;
    font-size: 4.5em;
}

header .header-logo .header-title {
    font-size: 1.5em;
    font-weight: bold;
    padding-left: 1em;
    font-family: sans-serif;
}

header .header-logo .header-color {
    color: #55CC44;
}

header .header-actions {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    text-transform: uppercase;
    flex: 1;
}

header .header-actions a {
    color: #868686;
}

header .header-actions .header-action {
    padding: 1em 0.5em 0.5em 0.5em;
}

header .header-actions a.active .header-action {
    border-top: 0.25em solid #9C0008;
    padding: 0.75em 0.5em 0.5em 0.5em;
    background-color: #f0f0f0;
}

header .header-actions .header-action:hover {
    background-color: #9C0008;
    color: #ffffff;
}

header .header-actions .header-action i {
    padding-bottom: 1em;
}

@media only screen and (min-width: 500px) {
    header .header-actions {
        flex-direction: row;
    }

    header .header-actions .header-action {
        padding: 1em;
    }

    header .header-actions a.active .header-action {
        padding: 0.75em 1em 1em 1em;
    }

    header .header-actions a.active .header-action:hover {
        background-color: #9C0008;
        color: #ffffff;
    }

    header .header-actions .header-action:hover {
        background-color: #9C0008;
        color: #ffffff;
    }
}

@media only screen and (min-width: 750px) {
    header {
        flex-direction: row;
    }

    header .header-actions {
        justify-content: flex-end;
        margin-right: 1em;
    }

    header .header-actions .header-action {
        padding: 2em 1em 1.5em 1em;
    }

    header .header-actions a.active .header-action {
        border-top: 0.25em solid #9C0008;
        padding: 1.75em 1em 1.5em 1em;
        background-color: #f0f0f0;
    }

    header .header-actions .header-action:hover {
        background-color: #9C0008;
        color: #ffffff;
    }
}

@media only screen and (min-width: 900px) {
    header .header-actions .header-action {
        padding-left: 2em;
        padding-right: 2em;
    }

    header .header-actions a.active .header-action{
        padding-left: 2em;
        padding-right: 2em;
    }
}

.site-content {
    background-color: #ffffff;
}

.site-footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 3em;
    color: gray;
}

.footer-top {
    display: flex;
    flex-direction: column;
}

.footer-title {
    text-transform: uppercase;
    color: #5d5d5d;
    padding-bottom: 1em;
    font-weight: bold;
}

.about-footer, .contact {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    padding-bottom: 2em;
}

.about-footer a, .contact a {
    padding-top: 0.5em;
    color: #9C0008;
}

.tweets {
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    margin-bottom: 2em;
    border-bottom: 1px solid #ccc;
}

.tweets .tweet {
    border-top: 1px solid #ccc;
    padding: 1em;
    display: flex;
}

.tweets .tweet .tweet-icon {
    font-size: 2em;
    align-items: center;
    display: flex;
    padding-right: 1em;
    color: #9C0008;
}

.tweets .tweet .tweet-header {
    display: flex;
    align-items: center;
    text-align: center;
}

.tweets .tweet .tweet-title {
    font-weight: bold;
    padding-right: 0.5em;
}

.tweets .tweet .tweet-text {
    text-align: left;
}

.tweets .tweet .tweet-author {
    color: #aaa;
}

.social {
    border-top: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.social .copyright {
    padding: 1em;
}

.social i {
    font-size: 1.5em;
    padding: 0.5em;
    color: #9C0008;
}

.contact i {
    padding-right: 0.5em;
}

.contact span {
    color: #9C0008;
}

.contact div {
    padding-bottom: 0.5em;
}

@media only screen and (min-width: 1200px) {
    .footer-top {
        flex-direction: row;
    }

    .footer-top .about-footer {
        flex: 1;
        padding-right: 2em;
    }

    .footer-top .tweets {
        flex: 2;
    }

    .footer-top .contact {
        flex: 1;
        padding-left: 2em;
    }

    .social {
        flex-direction: row;
    }

    .social .social-icons {
        flex: 1;
        text-align: right;
    }
}

.highlights {
    padding: 2em;
    text-align: center;
    background-color: #f0f0f0;
}

.highlights .highlight {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.highlights .highlight img {
    width: 100%;
    height: auto;
}

.highlights .highlight .highlight-icon {
    position: absolute;
    top: 2%;
    right: 1%;
    color: #9C0008;
    font-size: 8vmin;
}

.highlights .highlight.car .car-image-title {
    position: absolute;
    font-size: 2vmin;
    text-transform: uppercase;
    font-weight: bold;
    top: 5%;
    left: 3%;
    color: #ffffff;
    background-color: #9C0008;
    padding: 0.25em;
    opacity: 0.8;
}

.highlights .highlight.car .car-image-subtitle-one {
    position: absolute;
    font-size: 2vmin;
    font-weight: bold;
    top: 30%;
    left: 3%;
    color: #ffffff;
    background-color: #5d5d5d;
    padding: 0.25em;
    opacity: 0.8;
}

.highlights .highlight.car .car-image-subtitle-one:first-letter {
    text-transform: capitalize;
}

.highlights .highlight.car .car-image-subtitle-two {
    position: absolute;
    font-size: 2vmin;
    font-weight: bold;
    top: 45%;
    left: 3%;
    color: #ffffff;
    background-color: #5d5d5d;
    padding: 0.25em;
    opacity: 0.8;
}

.highlights .highlight.car .car-image-subtitle-two:first-letter {
    text-transform: capitalize;
}

.highlights .highlight.price .price-image-title {
    position: absolute;
    font-size: 2vmin;
    text-transform: uppercase;
    font-weight: bold;
    top: 9%;
    right: 10%;
    color: #ffffff;
    background-color: #9C0008;
    padding: 0.25em;
    opacity: 0.8;
}

.highlights .highlight.price .price-image-subtitle-one {
    position: absolute;
    font-size: 2vmin;
    font-weight: bold;
    top: 19%;
    right: 10%;
    color: #ffffff;
    background-color: #5d5d5d;
    padding: 0.25em;
    opacity: 0.8;
}

.highlights .highlight.price .price-image-subtitle-one:first-letter {
    text-transform: capitalize;
}

.highlights .highlight.price .price-image-subtitle-two {
    position: absolute;
    font-size: 2vmin;
    font-weight: bold;
    top: 29%;
    right: 10%;
    color: #ffffff;
    background-color: #5d5d5d;
    padding: 0.25em;
    opacity: 0.8;
}

.highlights .highlight.price .price-image-subtitle-two:first-letter {
    text-transform: capitalize;
}

.highlights .highlight.price .price-image-intro {
    position: absolute;
    font-size: 2.5vmin;
    font-weight: bold;
    top: 50%;
    right: 35%;
}

.highlights .highlight.price .price-image-price {
    position: absolute;
    font-size: 13vmin;
    font-weight: bold;
    top: 52%;
    right: 10%;
}

.highlights .highlight.price .price-image-lesson {
    position: absolute;
    font-size: 5vmin;
    font-weight: bold;
    top: 80%;
    right: 10%;
}

.intro {
    padding: 2em;
    text-align: center;
}

.intro .intro-title {
    padding: 0.5em;
    font-size: 2em;
    line-height: 1.25em;
}

.intro .intro-title span {
    color: #9C0008;
}

.intro .intro-text {
    color: #888;
    font-size: 1.125em;
    font-style: italic;
    line-height: 1.75em;
}

.features {
    display: flex;
    flex-direction: column;
    padding: 0 2em 2em 2em;
}

.features .feature-group {
    display: flex;
    flex-direction: column;
}

.features .feature-group .feature {
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 2px solid #9C0008;
    margin-bottom: 2em;
    padding: 2em;
}

.features .feature-group .feature .feature-icon {
    font-size: 3em;
    color: #5d5d5d;
    padding-bottom: 0.25em;
}

.features .feature-group .feature .feature-title {
    text-transform: uppercase;
    color: #5d5d5d;
    padding-bottom: 1em;
}

.features .feature-group .feature .feature-text {
    color: #888;
    line-height: 1.5em;
}

.features .feature-group .feature .feature-action {
    margin-top: 2em;
}

.features .feature-group .feature .feature-action a {
    background-color: #9C0008;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
}

.landing .features {
    background-color: #555555;
    color: #ffffff;
    padding: 1em;
}

.landing .features .features-title {
    text-transform: uppercase;
    padding: 1em 2em;
    font-size: 2em;
    text-align: center;
}

.landing .features .feature {
    padding: 1em 2em;
    display: flex;
    align-items: flex-start;
}

.landing .features .feature .feature-icon {
    margin-right: 1em;
    font-size: 2em;
}

.landing .features .feature .feature-details {
    flex: 1;
}

.landing .features .feature .feature-details .feature-title {
    text-transform: uppercase;
}

.landing .requests {
    background-color: #e43;
    padding: 2em;
    text-align: center;
    color: #ffffff;
}

.landing .requests p {
    font-size: 1.5em;
}

.landing .requests i {
    font-size: 2.5em;
    margin-right: 0.5em;
}

.landing .requests span {
    font-size: 2em;
}

.landing .pricing {
    background-color: #ffffff;
    padding: 3em 2em;
    color: #666;
}

.landing .pricing p {
    text-align: center;
    font-size: 1.4em;
}

.landing .pricing span {
    color: #ee4433;
}

.landing .trial {
    background-color: #55CC44;
    padding: 2em;
    color: #ffffff;
    text-align: center;
    font-size: 2em;
}

.landing .trial p {
    color: #aae6a1;
}

.landing .trial p span {
    color: #ffffff;
}

.landing .trial a {
    margin-left: 0.5em;
    padding: 0.5em 1em;
    background-color: #46C235;
    color: #ffffff;
    text-decoration: none;
}

.landing .quotes {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 3em 2em;
}

.landing .quotes p {
    font-size: 1.25em;
    font-style: italic;
}

.landing .quotes p span {
    font-size: 0.5em;
    vertical-align: super;
    padding: 0.5em;
    color: #bbb;
}

.landing .quotes .source {
    font-size: 1em;
    color: #6e6e6e;
    padding-bottom: 2em;
}

.landing .quotes .source span {
    color: #e43;
}

.testimonials {
    padding: 0 2em;
}

.testimonials .testimonials-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    font-weight: normal;
}

.testimonials .testimonials-title span {
    position: relative;
    top: -0.5em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.25em;
    background-color: #fff;
    border-left: 2em solid #fff;
    border-right: 2em solid #fff;
}

.testimonials .testimonial {
    display: flex;
    flex-direction: column;
    color: #888;
    padding-bottom: 2em;
}

.testimonials .testimonial.hidden {
    display: none;
}

.testimonials .testimonial .testimonial-icon {
    text-align: center;
}

.testimonials .testimonial .testimonial-icon img {
    padding: 0.125em;
    border: 2px solid #ccc;
    opacity: 0.8;
}

.testimonials .testimonial .testimonial-quote {
    text-align: center;
    line-height: 1.5;
    font-style: italic;
    font-size: 0.9em;
}

.testimonials .testimonial .testimonial-quote i {
    padding: 0.5em;
}

.testimonials .testimonial .testimonial-author {
    color: #9C0008;
    text-align: right;
    padding-top: 0.5em;
}

@media only screen and (min-width: 750px) {
    .features .feature-group {
        flex-direction: row;
        margin-right: -1em;
    }

    .features .feature-group .feature {
        margin-right: 1em;
    }

    .testimonials .testimonial {
        flex-direction: row;
    }

    .testimonials .testimonial .testimonial-icon {
        padding-right: 2em;
    }
}

@media only screen and (min-width: 1200px) {
    .features {
        flex-direction: row;
        padding-right: 1em;
    }

    .features .feature-group {
        margin-right: 0;
    }
}

.about {
    padding: 2em;
}

.about .about-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    font-weight: normal;
}

.about .about-title span {
    position: relative;
    top: -0.5em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.25em;
    background-color: #fff;
    border-left: 2em solid #fff;
    border-right: 2em solid #fff;
}

.about .about-detail {
    line-height: 1.5;
    color: #888;
}

.prices {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 1em 2em;
}

.prices .price-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    font-weight: normal;
}

.prices .price-title span {
    position: relative;
    top: -0.5em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.25em;
    background-color: #fff;
    border-left: 2em solid #fff;
    border-right: 2em solid #fff;
}

.prices .price-secondary-title {
    color: #9C0008;
    text-transform: capitalize;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.prices .price-group {
    display: flex;
    flex-direction: column;
}

.prices .price-group .price-top {
    display: flex;
    flex-direction: column;
}

.prices .price-group .price-bottom {
    display: flex;
    flex-direction: column;
}

.prices .price-group .price-left {
    margin-right: 1em;
}

.prices .price-group .price-right {
    margin-left: 1em;
}

.prices .price-group .price {
    text-align: center;
    background-color: #f0f0f0;
    border-bottom: 2px solid #9C0008;
    margin-bottom: 2em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.prices .price-group .price .price-icon {
    font-size: 3em;
    color: #5d5d5d;
    padding-bottom: 0.25em;
}

.prices .price-group .price .price-intro {
    font-size: 1.25em;
    text-transform: capitalize;
    color: #999;
    padding-bottom: 1em;
}

.prices .price-group .price .price-text {
    font-size: 1em;
    text-transform: uppercase;
    color: #5d5d5d;
}

.prices .price-group .price .price-action {
    margin-top: 2em;
}

.prices .price-group .price .price-action a {
    background-color: #9C0008;
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
}

@media only screen and (min-width: 750px) {
    .prices .price-group .price-top {
        flex-direction: row;
    }

    .prices .price-group .price-bottom {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .prices .price-group {
        flex-direction: row;
    }

    .prices .price-group .price-top {
        display: flex;
        flex: 1;
        margin-right: 1em;
    }

    .prices .price-group .price-bottom {
        display: flex;
        flex: 1;
        margin-left: 1em;
    }

    .prices .price-group .price-group-bottom {
        flex: 2;
    }
}

.questions {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 0em 2em;
}

.questions .questions-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    font-weight: normal;
}

.questions .questions-title span {
    position: relative;
    top: -0.5em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.25em;
    background-color: #fff;
    border-left: 2em solid #fff;
    border-right: 2em solid #fff;
}

.questions .question {
    background-color: #f0f0f0;
    margin-bottom: 2em;
    padding: 2em;
}

.questions .question .question-title {
    font-size: 1.25em;
    color: #6e6e6e;
    padding-bottom: 0.5em;
}

.questions .question .question-text {
    color: #868686;
    padding-bottom: 0.5em;
}

.questions .question .question-action {
    color: #9C0008;
    padding-bottom: 0.5em;
}

.questions .question .question-action:hover {
    cursor: pointer;
    color: #868686;
}

.questions .question .answer {
    padding-top: 0.5em;
    color: #868686;
}

.useful-link {
    padding: 0em 2em 2em 2em;
}

.useful-link .useful-link-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    font-weight: normal;
}

.useful-link .useful-link-title span {
    position: relative;
    top: -0.5em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.25em;
    background-color: #fff;
    border-left: 2em solid #fff;
    border-right: 2em solid #fff;
}

.useful-link .link {
    text-align: center;
    padding-bottom: 0.5em;
}

.useful-link a {
    text-decoration: none;
    color: #9C0008;
    font-size: 1.25em;
    margin: 1em;
}

.useful-link a:hover {
    color: #868686;
}

@media only screen and (min-width: 750px) {
    .prices .price-group .price-top {
        flex-direction: row;
    }

    .prices .price-group .price-bottom {
        flex-direction: row;
    }
}

@media only screen and (min-width: 1200px) {
    .prices .price-group {
        flex-direction: row;
    }

    .prices .price-group .price-top {
        display: flex;
        flex: 1;
        margin-right: 1em;
    }

    .prices .price-group .price-bottom {
        display: flex;
        flex: 1;
        margin-left: 1em;
    }

    .prices .price-group .price-group-bottom {
        flex: 2;
    }
}

.contact-us {
    display: flex;
    flex-direction: column;
    padding: 2em 2em 1em 2em;
}

.contact-us .contact-title {
    margin: 1em 0 2em 0;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    height: 2px;
    font-weight: normal;
}

.contact-us .contact-title span {
    position: relative;
    top: -0.5em;
    text-transform: uppercase;
    padding: 1em;
    font-size: 1.25em;
    background-color: #fff;
    border-left: 2em solid #fff;
    border-right: 2em solid #fff;
}

.contact-us .contact-subtitle {
    color: #9C0008;
    text-transform: capitalize;
    padding-bottom: 1em;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
}

.contact-us .contact-message {
    padding-bottom: 0.5em;
    color: #6e6e6e;
}

.contact-us form {
    padding-bottom: 1em;
}

.contact-us form label {
    display: block;
    text-transform: uppercase;
    color: #868686;
}

.contact-us form input, .contact-us form textarea {
    display: flex;
    flex: 1;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

.contact-us form button {
    padding: 1em;
    color: #ffffff;
    border: none;
    background-color: #9C0008;
}

.contact-us form button:hover {
    color: #868686;
    background-color: #f0f0f0;
    cursor: pointer;
}

.contact-details {
    color: #868686;
    text-align: center;
    padding-bottom: 1em;
}

.contact-details div {
    padding-bottom: 1em;
}

.contact-details a {
    color: #9C0008;
    text-decoration: none;
}

.get-in-touch {
    text-align: center;
    padding-bottom: 1em;
    color: #868686;
}

.contact-section {
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 800px) {
    .contact-us .contact-section {
        flex-direction: row;
    }

    .contact-us .contact-subtitle {
        text-align: left;
    }

    .contact-us .contact-left {
        flex: 3;
    }

    .contact-us .contact-right {
        flex: 2;
        padding-left: 4em;
    }

    .contact-us .contact-right .contact-details {
        text-align: left;
    }

    .contact-us .contact-right .contact-details i {
        padding-right: 0.5em;
    }

    .contact-us .contact-right .get-in-touch {
        text-align: left;
    }
}

/*# sourceMappingURL=main.css.map */
